.input-universal {
    th, td {
        width: 90px;
        text-align: left;

        &.input-universal__status {
            width: 18px;
        }
    }

    input {
        &:disabled {
            margin: 0;
            padding: 0;
            background: transparent;
            border: none;
            -webkit-appearance: none;

            &[type=checkbox] {
                -webkit-appearance: checkbox !important;
            }
        }

        &[type=checkbox] {
            width: auto;
            margin: 0;
        }

        width: 145px;
    }
}
