.list-universal {
    select:disabled {
        background: transparent;
        border: none;
        -webkit-appearance: none;

        &.input-universal__status {
            width: 18px;
        }
    }
}
