.universal__status__default {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 5px;
    opacity: 0.4;
    text-align: center;
    font-size: 13px;
    font-weight: bold;

    &.universal__status__editable {
        background: #ffaa00;
        cursor: help;

        &.universal__status__modified {
            background: #4bd28f;
        }

        &.universal__status__invalid {
            background: #ff4d4d !important;
        }
    }
}
