button:hover {
    cursor: pointer;
}

.title {
    text-align: center;
}

.declaration_form {
    position: relative;
    top: 20%;
    text-align: center;   
}

.form_line {
    margin-bottom: 20px;   
}

.form_label {
    position: absolute;
    left: 20%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form_input {
    position: absolute;
    left: 40%;
    width: 40%;
}

#report_incident_button {
    width: 60%;
    height: 60px;

    color: white;
    font-weight: bold;

    background: linear-gradient(to right, #F1471C 0%, #F1471C 50%, #00337D 0%, #00337D 100%);
    border-style: solid;
    border: none;
}