.comment-item {
    border: 1px solid #c8ccd0;
    border-radius: 2px;
    margin: 20px 0;
    background: #ffffff;

    tr:first-child {
        text-align: center;
        border-bottom: 1px solid #c8ccd0;
        background: #f9f9f9;
    }

    td, th {
        padding: 4px 8px;
    }

    .comment-item__gravatar {
        img {
            max-width: 50px;
            max-height: 50px;
        }
    }

    .comment-item__action {
        margin: 2px;
        padding: 4px 10px;
        border: 1px solid #c8ccd0;
        border-radius: 2px;
        background: #f9f9f9;
        cursor: pointer;
    }
}
