.blink {
    animation: blinker 1s linear infinite;
}

.warning {
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #d7b427;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
